<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<div th:text = "${book.getName()}"></div>
<div th:text = "${book.getYear()}"></div>
<div th:text = "${book.getAuthor()}"></div>

<div th:if="${person!=null}">
    <p th:text="${'Книга сейчас у: '+person.getName()}"></p>
    <form th:method="PATCH" th:action="@{/book/deletereader/{id}(id=${book.getBook_id()})}">
        <input type="submit" value="Освободить"/>
    </form>
</div>

<div th:if="${person == null}">
    <p> This book is available. To whom should it be assigned?</p>
    <form th:method="patch" th:action="@{/book/become/{book_id}(book_id=${book.getBook_id()})}">
        <label for="person">Choose a person:</label>
        <select th:object="${formPerson}" th:field="*{id}" id="person">
            <option th:each="persona : ${people}" th:value="${persona.id}" th:text="${persona.name}"></option>
        </select>
        <input type="submit" value="Assign Book"/>
    </form>
</div>

<a th:href="@{/book/{id}/edit(id=${book.getBook_id()})}">Edit</a>

<form th:method="DELETE" th:action="@{/book/{id}(id=${book.getBook_id()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>